/* name : Mohammed Karim El Moussadeq   
    Assignment 1 PART 2 (CSS) */


body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: black;
    background-color: #e0ffe0;
    text-align: center;
}

/* Header Styles */
header {
    background-color: #00ff00;
    padding: 20px 0;
}

header h1 {
    font-family: 'Georgia', serif;
    font-size: 3rem;
    color: black;
    margin: 0;
    text-shadow: 2px 2px #00aa00;
}

header .logo {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 90px;
}


/* Navigation Bar */
nav {
    background-color: #00ff00;
    padding: 10px 0;
}
/* nav ul to target the unorderer list inside of the nav */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
    padding: 50px;
    text-transform: uppercase; /* Transforming the text from lower case to Uppercase */
}


/* hover option to whenever the mouse is on the elements that are indise of the list they will get underlined */
nav ul li a:hover {
    text-decoration: underline;
}

/* Main Content */
/* section to target the whole section */
section {
    display: flex;
    align-items: flex-start; /* flex-start to alight the text from the start of the ligne */
    margin: 20px;
}

/* .welcome-section to target the class named welcome-section*/
.welcome-section p {
text-align: justify; /*used to align text to fit in the container */
padding: 20px;
margin: 5px;
}
/* targeting both classes welcome-scection and photos-section at the same time */
.welcome-section, .photos-section {
    background-color: #00ff00;
    padding: 20px;
    padding-right: 200px;
    width: 45%;
    height: 700px;
}

.section {
    background-color:#c0ffc0;
}
/* targeting the images class and adjesting the space and theird height */
.photos-section img {
    margin: 20px;
    height: 200px;
}

/* Footer */
footer {
    background-color: #00ff00; /* the background color of the footer */
    padding: 10px;      /* used to create space inside the element */
    margin-top: 20px;   /* used to create space outside the element */
    font-size: 0.9rem;
}



footer p {
    text-align: left;
}